h1 {
  margin: 10px auto;
  text-align: center;
}

.all-users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 30px;
}

.robot {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 20vw;
  border: 1px solid lightgrey;
  margin: 10px;
  text-decoration: none;
}

p {
  text-decoration: none;
}

h4 {
  text-decoration: none;
}

.red {
  color: red;
  text-decoration: none;
}
